body{
	min-height: 100vh;
	background-color: cadetblue;
}

.wrapper{
	min-width: 1280px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wrapper h1{
	font-size: 60px;
	margin: 20px 0;
	color: rgb(140, 20, 82);
}
.wrapper p{	
	font-size: 25px;
	font-weight: bold;
	margin: 25px 0;
	color: rgb(70, 6, 174);
	text-decoration: underline;	
}

img{
	display: block;
}